
@font-face {
  font-family: "GTAmericaBold";
  src: local("GTAmericaBold"), url("./assets/GT-America-Bold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "GTAmericaCompressedBold";
  src: local("GTAmericaCompressedBold"), url("./assets/GT-America-Compressed-Bold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "GTAmericaExtendedBold";
  src: local("GTAmericaExtendedBold"), url("./assets/GT-America-Extended-Bold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "GTAmerica";
  src: local("GTAmerica"), url("./assets/GT-America-Regular.otf") format("opentype");
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: GTAmerica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  overflow:hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}